body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
    text-align: left;
    max-width: 800px;
    margin: 0 auto;
}

section {
    cursor: pointer;
    margin-bottom: 40px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
}

section h2 {
    text-align: center;
    font-size: 2em;
    max-width: 100%;
    color: #444;
}

section p {
    margin-top: 10px;
    font-size: 1em;
    line-height: 1.6;
    color: #666;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    header, footer {
        padding: 15px;
    }

    section {
        padding: 15px;
    }

    section h2 {
        font-size: calc(1vw + 1.5em);
    }
}

@media (max-width: 480px) {
    section {
        padding: 10px;
    }

    section h2 {
        font-size: 1.2em;
    }
}
